* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url("../images/header/color.png");
  width: 100%;
  height: 550px;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  height: 100px;
  margin: 0 auto;
}
header nav menu .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}
header nav menu .main-menu .menu-item {
  color: #fff;
  font-size: 15px;
  margin: 0 25px;
}
header nav menu .main-menu .menu-item--active {
  color: #000;
}
header nav .login #login {
  border: 1px solid #fff;
  color: #fff;
  padding: 5px 20px;
  border-radius: 3px;
  cursor: pointer;
}
header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 350px;
  width: 85%;
  margin: 0 auto;
}
header .header-container .header-description {
  width: 50%;
  padding: 75px 0;
  margin-right: 130px;
}
header .header-container .header-description .header-lorem1 {
  width: 80%;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
header .header-container .header-description .header-lorem2 {
  color: #fff;
  font-size: 16px;
  margin: 30px auto;
  line-height: 25px;
}
header .header-container .header-description .btn-wrapper .btn {
  width: 150px;
  height: 45px;
  font-size: 13px;
  border-radius: 3px;
  border: 1px solid silver;
  cursor: pointer;
}
header .header-container .header-description .btn-wrapper #btn-buy {
  background-color: #061e37;
  border-color: #061e37;
  margin-right: 15px;
  color: #fff;
}
header .header-container .header-description .btn-wrapper #btn-try {
  background-color: #fff;
  border-color: #fff;
  margin-left: 15px;
}
header .header-container .header-video {
  width: 50%;
  padding: 75px 0;
  margin-left: 130px;
}
header .header-container .header-video img {
  width: 104%;
  height: 300px;
}

.easyuseful {
  width: 100%;
  margin: 60px 0;
}
.easyuseful .easyuseful-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.easyuseful .easyuseful-header h4 {
  color: #061e37;
  font-size: 36px;
  margin: 0 auto;
}
.easyuseful .easyuseful-description {
  width: 45%;
  margin: 0 auto;
}
.easyuseful .easyuseful-description h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  font-size: 24px;
  color: #ACBFC7;
}
.easyuseful .easyuseful-description p {
  text-align: center;
  color: #ACBFC7;
}
.easyuseful .easyuseful-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  margin: 0 auto 70px;
}
.easyuseful .easyuseful-container .col {
  width: 350px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 80px;
}
.easyuseful .easyuseful-container .col .card-title h4 {
  color: #061e37;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
}
.easyuseful .easyuseful-container .col .card-text {
  color: #ACBFC7;
  font-size: 15px;
  text-align: center;
}
.easyuseful .easyuseful-container .col .card-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
.easyuseful .easyuseful-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.easyuseful .easyuseful-button #btn-started {
  width: 150px;
  height: 55px;
  background-color: #00EAB5;
  border: 1px solid #00EAB5;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  margin: 0 auto;
}
.count-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  height: inherit;
}
.count-wrapper img {
  width: 25px;
  height: 25px;
}
.count-wrapper span {
  margin-left: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
}
.count-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #fff;
}
.count-circle img {
  width: 18px;
  height: 18px;
}
.count-business {
  background-image: url("../images/Count/business.png");
}
.count-downloads {
  background-image: url("../images/Count/download.png");
}
.count-installs {
  background-image: url("../images/Count/installs.png");
}
.count-user {
  background-image: url("../images/Count/users.png");
}

.services {
  width: 100%;
  margin: 70px 0;
}
.services-header {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  color: #ACBFC7;
}
.services-header h4 {
  color: #061e37;
  font-size: 36px;
  margin-bottom: 15px;
}
.services-statistics {
  width: 50%;
  height: 240px;
  margin: 35px auto 0;
  -webkit-box-shadow: 0 0 5px 2px rgba(185, 185, 185, 0.5);
          box-shadow: 0 0 5px 2px rgba(185, 185, 185, 0.5);
  border-radius: 5px;
}
.services-statistics .statistics-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  color: #061e37;
  font-size: 20px;
  font-weight: bold;
}
.services-statistics .statistics-header img {
  margin-right: 15px;
}
.services-statistics .statistics-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.services-statistics .statistics-description .description-photo {
  width: 35%;
  height: 150px;
  margin-right: 5%;
}
.services-statistics .statistics-description .description-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  height: 150px;
  text-align: justify;
  color: #061e37;
  line-height: 22px;
}
.services .acc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px auto;
  padding: 20px 0;
  border-radius: 5px;
  width: 90%;
}
.services-inbox, .services-team, .services-settings, .services-feed {
  margin: 0 auto;
  width: 50%;
  -webkit-box-shadow: 0 0 5px 2px rgba(185, 185, 185, 0.5);
          box-shadow: 0 0 5px 2px rgba(185, 185, 185, 0.5);
  border-radius: 5px;
  letter-spacing: 0.5px;
  color: #061e37;
  font-size: 16px;
  font-weight: bold;
}
.services-inbox img, .services-team img, .services-settings img, .services-feed img {
  margin-right: 15px;
}

.testimonials {
  width: 100%;
  height: 450px;
  background: linear-gradient(45deg, rgba(0, 186, 214, 0.6), rgba(0, 234, 181, 0.6)), url("../images/testimonials/back1.png");
}
.testimonials-container {
  width: 80%;
  margin: 0 auto;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.testimonials-container .container-customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 35%;
  height: 370px;
}
.testimonials-container .container-customers .customers-info {
  width: 90%;
}
.testimonials-container .container-customers .customers-info h3 {
  font-size: 36px;
  color: #fff;
}
.testimonials-container .container-customers .customers-info p {
  font-size: 16px;
  color: #fff;
}
.testimonials-container .container-customers .customers-button {
  width: 90%;
}
.testimonials-container .container-customers .customers-button #btn-get {
  background-color: #061e37;
  border: 1px solid #061e37;
  margin-right: 15px;
  color: #fff;
  width: 150px;
  height: 45px;
  font-size: 13px;
  border-radius: 3px;
  cursor: pointer;
}
.testimonials-container .container-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}
.testimonials-container .container-comments .comments-doe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonials-container .container-comments .comments-khalessi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonials-container .container-comments .comment {
  width: 80%;
  height: 85px;
  background-color: #fff;
  border-radius: 5px;
  padding: 25px 20px;
  color: #ACBFC7;
  line-height: 25px;
  font-style: italic;
}
.testimonials-container .container-comments .comment h4 {
  font-style: normal;
  color: #000;
}
.testimonials-container .container-comments .comment p {
  font-size: 15px;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 50px 0;
}
.team .teams-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  margin: 10px auto;
}
.team .teams-header h3 {
  font-size: 36px;
  margin-bottom: 10px;
}
.team .teams-header p {
  text-align: center;
  color: #ACBFC7;
}
.team .team-avatars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}
.team .team-avatars .team-avatar {
  margin: 60px 20px 30px;
}
.team .team-detalis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  text-align: center;
  color: #ACBFC7;
}
.team .team-detalis h3 {
  font-size: 25px;
  margin-bottom: 20px;
  color: #000;
}
.team .team-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  margin: 20px auto 50px;
}

.contacts {
  width: 100%;
  background-image: url("../images/about us/bg.png");
  padding-bottom: 30px;
}
.contacts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
  margin: 35px auto;
  text-align: center;
}
.contacts-header h4 {
  font-size: 36px;
  font-weight: bold;
  margin: 20px 0;
}
.contacts-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 40%;
  margin: 0 auto;
}
.contacts-fields .field {
  width: 35%;
  margin-bottom: 15px;
  border: 1px solid #000;
  padding: 10px 20px;
  background-color: #fafafa;
  border-radius: 5px;
}
.contacts-fields textarea {
  width: 85%;
  border-color: #000;
  background-color: #fafafa;
  border-radius: 5px;
  padding: 10px 20px;
}
.contacts-checkandbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 37%;
  margin: 15px auto 0;
}
.contacts-checkandbtn #btn-send {
  padding: 15px 40px;
  border-radius: 5px;
  border: 1px solid #00eab5;
  background-color: #00eab5;
  color: #fff;
  cursor: pointer;
  outline: none;
}

footer {
  width: 100%;
  background-image: url("../images/footer/bg.png");
}
footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  padding: 50px 0;
}
footer nav menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}
footer nav menu ul li {
  color: #fff;
  font-size: 15px;
  margin: 0 25px;
}
footer .bottom-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 50px;
}
footer .bottom-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  color: #fff;
  font-size: 15px;
}
footer .bottom-menu ul li:nth-child(even) {
  margin: 0 25px;
}
footer .social img {
  margin: 0 10px;
}
